
<div class="box">
  <div class="left-shape"></div>
  <div class="right-shape"></div>
  <h1 class="habi1">SOBRE MÍ</h1>
  Me considero una persona responsable, dinámica, y creativa, con facilidad de  adaptación y capacidad de trabajar en equipo, en condiciones de alta presión, con iniciativa para resolver problemas eficientemente y lograr las metas y objetivos trazados por la empresa. <br> Superarme en todo los aspectos de mi vida,brindando lo mejor de mi cada día,tanto en el aspecto laboral como en el aspecto personal.
 </div>



 <div class="box1" id="habi2">
  <div class="left-shape1"></div>
  <div class="right-shape1"></div> 
  <h1 class="habi1">HABILIDADES</h1> 
  
 
   <li>Trabajo en equipo</li>
   <li>Proactividad</li>
   <li>Honestidad</li>
   <li>Responsabilidad</li>


 </div>

 