
.box {
	width: 310px;
	height: 320px;
	border-radius: 50%;
	border: 1px solid #000;
	text-align: center;
  float: left;
  margin:100px;
  background-color: rgb(43, 186, 226);
}

.left-shape{
  shape-outside: polygon(
  0 0,
  100% 0,

  55% 5%,
  20% 20%,
  5% 35%,

  0 50%,

  5% 65%,
  20% 80%,
  55% 95%,

  100% 100%,
  0 100%
  );
  float: left;
  width: 50%;
  height: 100%;
  clip-path: polygon(
  0 0,
  100% 0,

  55% 5%,
  20% 20%,
  5% 35%,

  0 50%,

  5% 65%,
  20% 80%,
  55% 95%,

  100% 100%,
  0 100%
  );
}

.right-shape{
  shape-outside: polygon(
  100% 0,
  0 0,

  45% 5%,
  80% 20%,
  95% 35%,

  100% 50%,

  95% 65%,
  80% 80%,
  45% 95%,

  0 100%,
  100% 100%
  );
  float: right;
  width: 50%;
  height: 100%;
  clip-path: polygon(
  100% 0,
  0 0,

  45% 5%,
  80% 20%,
  95% 35%,

  100% 50%,

  95% 65%,
  80% 80%,
  45% 95%,

  0 100%,
  100% 100%
  );
} 


.box1 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid #000;
	text-align: center;
  float: right;
  margin: 250px;
  background-color: aqua;
  
}

.left-shape1{
  shape-outside: polygon(
  0 0,
  100% 0,

  55% 5%,
  20% 20%,
  5% 35%,

  0 50%,

  5% 65%,
  20% 80%,
  55% 95%,

  100% 100%,
  0 100%
  );
  float: left;
  width: 50%;
  height: 100%;
  clip-path: polygon(
  0 0,
  100% 0,

  55% 5%,
  20% 20%,
  5% 35%,

  0 50%,

  5% 65%,
  20% 80%,
  55% 95%,

  100% 100%,
  0 100%
  );
}

.right-shape1{
  
  shape-outside: polygon(
  100% 0,
  0 0,

  45% 5%,
  80% 20%,
  95% 35%,

  100% 50%,

  95% 65%,
  80% 80%,
  45% 95%,

  0 100%,
  100% 100%
  );
  float: right;
  width: 50%;
  height: 100%;
  clip-path: polygon(
  100% 0,
  0 0,

  45% 5%,
  80% 20%,
  95% 35%,

  100% 50%,

  95% 65%,
  80% 80%,
  45% 95%,

  0 100%,
  100% 100%
  );
} 

.habi2{
  text-align: center
}




 

  

  

  

  

  



