<h1 class="titulo">CONTÁCTEME</h1>
<div class="caja">
    <div class="izq" id="caja">
        <div class="content" id="caja">
            
            <form [formGroup]="forma" (ngSubmit)="guardar()" class="caja">
                <div class="row">
                    <div class="col-5">
                        
                    </div>
                </div> 
                <div>
                    <input 
                    type="text" 
                    id="fname"
                    placeholder="Nombre"
                    class="txtbox"
                    formControlName="nombre"
                    [class.is-invalid]="nombreNovalido"
                    >
                    <small class="text-danger" *ngIf="nombreNovalido">Ingrese más de 3 letras</small>
                </div> 
                <div class="row">
                    <div class="col-5">
                      
                    </div>
                    <div>
                      <input 
                      type="text"
                      id="femail"
                      placeholder="Correo Electrónico"
                      class="txtbox"
                      formControlName="correo"
                      [class.is-invalid] = "correoNoValido" 
                      >
                      <small class="text-danger" *ngIf="correoNoValido">Ingrese un correo válido</small>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-5">
                       
                    </div>
                    <div>
                        <textarea 
                        name="" 
                        id="fcomentario" 
                        cols="30" 
                        rows="10"
                        class="txtbox"
                        placeholder="Descripcion"
                        formControlName="descripcion"
                        [class.is-invalid]="descripcionNoValido"
                        >
                        
                    </textarea>
                    <small class="text-danger" *ngIf="descripcionNoValido">Ingresar descripcion</small>
                    </div>
                  </div>
                  <button type="submit" class="btn" [disabled]="forma.invalid">Enviar</button>

              
              
            </form>

        </div>
    </div>

    
</div>


